.client {
    padding: 94px 0px;


    &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}


&__link {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid $client-color;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    border: 1px solid $accent-color;

    .client-icon {
        fill: $accent-color;
    }
}
}



&__icon {
    fill: $client-color;
    width: 106px;
    height: 60px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


&__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

}








