.extra{


    &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


&__title {
    color: $text-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 2;
    /* 200% */
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}


&__box1 {
    position: relative;
    overflow: hidden;
}


&__text1 {
    color: $main-color;
    background: $bg-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 0.54px;
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-property:transform,opacity;
   transition-duration: 250ms;
   transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1)   ;
transform: translateY(294px);
}


&__item {
    outline: 1px solid $main2-color;
    flex-basis: calc((100% - 60px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    .extra__text1 {
        opacity: 1;
        transform: translateY(0px);
    }


    
}

}



    &__img {
    width: 100%;
}


&__box {
    padding: 20px 24px;
}



&__text {
    color: $desk-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.48px;
}


}






















