.hero {
    padding-top: 121px;
    padding-bottom: 60px;



    @media screen and (min-width:1200px) {
          padding-top: 155px;
    padding-bottom: 94px;
    }



    &__btn {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
    padding: 6px 22px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    &:hover {
    color: $main-color;
    background-color:$accent-color;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
}
&__list {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: start;

    @media screen and (min-width:1200px) {
        justify-content: center;
    }
    
    @media screen and (min-width:768px) {
        justify-content: center;
    }

}

}







